@addTagHelper *, PT.UI
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer  Localizer
@{
    Layout = "~/Views/Shared/_Home.cshtml";
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
    var linkData = new Link();
    if (ViewData["linkData"] != null)
    {
        linkData = (Link)ViewData["linkData"];
    }
}

<div class="page-content">
    <div class="section mt-0">
        <div class="breadcrumbs-wrap">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/">@Localizer["Home"].Value</a>
                    <span>@linkData.Name</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                    @if (language == "vi")
                    {
                        <vc:view-module id="1038" type="StaticInformation"></vc:view-module>
                    }
                    else if (language == "en")
                    {
                        <vc:view-module id="1040" type="StaticInformation"></vc:view-module>
                    }

                </div>
                <div class="col-lg-8 mt-4 mt-lg-0">
                    @if (language == "vi")
                    {
                        <vc:view-module id="18" type="PhotoSlide"></vc:view-module>
                    }
                    else if (language == "en")
                    {
                        <vc:view-module id="17" type="PhotoSlide"></vc:view-module>
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container-fluid px-0">
            <div class="row no-gutters" style="background: #f6f7f9;">
                <div class="col-xl-6 bg-grey">
                    <div class="max-900 mx-lg-auto px-15">
                        @if (language == "vi")
                        {
                            <vc:view-module id="1043" type="StaticInformation"></vc:view-module>
                        }
                        else if (language == "en")
                        {
                            <vc:view-module id="1042" type="StaticInformation"></vc:view-module>
                        }
                    </div>
                </div>
                <div class="col-xl-6 banner-left bg-full" style="background-image: url(/Content/Home/images/content/banner-left.jpg)"></div>
            </div>
        </div>
    </div>
    <div class="cssAbout">
        @if (language == "vi")
        {
            <vc:view-module id="1032" type="StaticInformation"></vc:view-module>
        }
        else if (language == "en")
        {
            <vc:view-module id="1033" type="StaticInformation"></vc:view-module>
        }
    </div>

    <div style="height:50px;"></div>
</div>